<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg'|url }}">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="generator" content="{{ eleventy.generator }}">
{#    {% include './meta.njk' %}#}
    {% include './assets.njk' %}
    <link type="application/atom+xml" rel="alternate" href="{{  '/feed.xml' |url }}" title="{{ site.title }}'s feed">
  </head>
  <body>
    {% include './header.njk' %}
    <main class="s-container s-main">
    {{ content | safe }}
    </main>
  
    <footer class="s-container c-footer">
      <div class="c-footer__content">
        {% include './social.njk' %}
      </div>
    </footer>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/styles/prism-atom-dark.min.css' }}" media="screen and (prefers-color-scheme: dark)">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/styles/prism-ghcolors.min.css' }}" media="(prefers-color-scheme: light)">
{#    <script>
      {% set ctc_js %}{% include "scripts/copy-to-clipboard.js" %}{% endset %}
      {{ ctc_js | jsmin | safe }}
    </script>#}
  </body>
</html>
