<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}" />
    <meta name="author" content="{{ site.author }}" />
{#    {% include './meta.njk' %}#}
    {% include './assets.njk' %}
    <link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.title }} feed">
  </head>
  <body>
    {% include './nav.njk' %}
    <main class="container">
    {{ content | safe }}
    </main>
  
    <footer id="footer" class="container">
      <div class="inner">
        <a href="https://twitter.com/bartvanraaij"
           title="@bartvanraaij on Twitter"
           rel="noopener"
           target="_blank"
           class="social">
          <img src="/assets/images/twitter.svg" alt="Twitter Logo" />
        </a>
        <a href="https://www.linkedin.com/in/bartvanraaij/"
           title="bartvanraaij on LinkedIn"
           rel="noopener" target="_blank" class="social">
          <img src="/assets/images/linkedin.svg" alt="LinkedIn Logo" />
        </a>
        <a href="https://github.com/bartvanraaij"
           title="bartvanraaij on GitHub"
           rel="noopener" target="_blank" class="social">
          <img src="/assets/images/github.svg" alt="GitHub Logo" />
        </a>
        <a href="{{ site.url }}/feed.xml"
           title="bartvanraaij.dev atom feed"
           rel="noopener" target="_blank" class="social">
          <img src="/assets/images/rss.svg" alt="RSS Icon" />
        </a>
      </div>
    </footer>
  </body>
</html>
