<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" href="/favicon.ico" />
    <title>{{ title }}</title>
    <meta
      name="description"
      content="{{ description or site.description }}"
    />
    <meta name="author" content="{{ site.author }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta
      property="og:description"
      content="{{ description or site.description }}"
    />
    <meta property="og:locale" content="{{ site.locale }}" />
    <meta property="og:site_name" content="{{ site.site_name }}" />
    {% if (tags == "posts") %}
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ date | date('iso') }}" />
    <script type="application/ld+json">
      {
        "description": "{{ description }}",
        "author": { "@type": "Person", "name": "{{ site.author }}" },
        "@type": "BlogPosting",
        "url": "{{ site.url~page.url}}",
        "headline": "{{ title }}",
        "datePublished": "{{ date|date('iso') }}",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ site.url }}"
        },
        "@context": "http://schema.org"
    }
    </script>
    {% endif %}
    
    {% include './assets.njk' %}


  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
