<div class="s-container c-header">
  <div class="c-header__inner">
    <a class="c-header__tagline" href="{{ '/'|url }}" title="{{ site.author }}">
      <span class="c-header__name">{{ site.author }}</span>
    </a>

  </div>
</div>
