<div class="s-container c-header">
  <div class="c-header__inner">
    <a class="c-header__tagline" href="{{ '/'|url }}" title="{{ site.author }}">
      <img class="c-header__avatar"
           src="{{ '/assets/images/bart2023.jpg'|url }}"
           srcset="{{'/assets/images/bart2023@2x.jpg'|url}} 2x"
           alt="{{ site.author }}"
           width="48"
           height="48" />
      <span class="c-header__name">{{ site.author }}</span>
    </a>

    <a class="c-header__link" href="{{ '/about/'|url }}" title="About">About</a>

  </div>
</div>
