---
layout: layouts/base.njk
---
{{ content | safe }}

{% set homeBatchSize = 12 %}

{% set latestPosts = collections.post | reverse | head(homeBatchSize) %}
{% set postsCount = collections.post | length %}

{% if postsCount == 0 %}
  <p><em>It seems like I haven't written anything yet! Please check back later :-).</em></p>
{% endif %}

<ul class="postlist" itemscope itemtype="http://schema.org/Blog">
  {% for post in latestPosts %}
  <li itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
    <a href="{{ post.url }}" title="{{ post.data.title }}">
      <meta itemprop="url" content="{{ site.url~post.url }}" />
      {% if post.data.image %}
      <meta itemprop="image" content="{{ site.url~'/assets/images/posts/'~post.data.image }}" />
      {% endif %}
      <time class="date" datetime="{{ post.date|date('iso') }}" itemprop="datePublished">{{ post.date|date }}</time>
      <div class="title" itemprop="headline">{{ post.data.title }}</div>
      <div class="excerpt" itemprop="abstract">{{ post.data.abstract }}</div>
    </a>
  </li>
  {% endfor %}
</ul>


{% if (postsCount) > homeBatchSize %}
<div>
  <a href="/archive/">Archive</a>
</div>

{% endif %}

