---
layout: layouts/base.njk
---
<div class="c-home__text">
{{ content | safe }}
</div>

{% set homeBatchSize = 8 %}

{% set postsList = collections.post | reverse | head(homeBatchSize) %}
{% set postsCount = collections.post | length %}

{% if postsCount == 0 %}
<p><em>It looks like I haven't written anything yet 😱! Please check back later :-).</em></p>
{% endif %}

{% include "partials/postslist.njk" %}

{% if (postsCount) > homeBatchSize %}
<div>
  <a href="{{ '/archive/'|url }}" title="Posts archive">More posts</a>
</div>
{% endif %}

