<meta property="og:title" content="{{ title or site.title }}" />
<meta
  property="og:description"
  content="{{ description or site.description }}"
/>
<meta property="og:url" content="{{ page.url|url|absoluteUrl(site.url) }}" />
<meta property="og:locale" content="{{ site.locale }}" />
<meta property="og:site_name" content="{{ site.title }}" />
{% if image %}
<meta property="og:image" content="{{ ('/assets/images/posts/'~image)|url|absoluteUrl(site.url)  }}" />
<meta name="twitter:image" content="{{ ('/assets/images/posts/'~image)|url|absoluteUrl(site.url) }}" />
{% endif %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@bartvanraaij" />
<meta name="twitter:title" content="{{ title or site.title}}" />
<meta name="twitter:description" content="{{ description or site.description}}" />
{% if tags and 'post' in tags %}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ date | date('iso') }}" />
{% else %}
<meta property="og:url" content="website" />
{% endif %}
