<nav class="container">
  <div class="inner">
    <a id="author" href="{{ '/'|url }}" title="{{ site.author }}">
      <img src="{{ '/assets/images/bart.jpg'|url }}" srcset="{{'/assets/images/bart@2x.jpg'|url}} 2x" alt="Bart van Raaij" width="48" height="48" />
      <span>{{ site.author }}</span>
    </a>
    <a href="{{ '/about/'|url }}" title="About">About</a>
    
    
    {#<nav id="nav">#}
    {#  <ul>#}
    {#    <li>#}
    {#      <a href="/">About me</a>#}
    {#    </li>#}
    {#    #}{#<li>bla</li>#}
    {#  </ul>#}
    {#</nav>#}
  </div>
</nav>
