<nav class="container">
  <div class="inner">
    <a id="author" href="/" title="{{ site.name }}">
      <img src="/assets/images/bart.jpg" alt="Bart van Raaij" width="48" height="48" />
      <span>{{ site.name }}</span>
    </a>
    <a href="/about/" title="About">About</a>
    
    
    {#<nav id="nav">#}
    {#  <ul>#}
    {#    <li>#}
    {#      <a href="/">About me</a>#}
    {#    </li>#}
    {#    #}{#<li>bla</li>#}
    {#  </ul>#}
    {#</nav>#}
  </div>
</nav>
