---
layout: layouts/base.njk
---

<article class="page">
  <header>
    <h1>{{ title }}</h1>
  </header>
  <section>
    {{ content | safe }}
  </section>
  <footer>
    <a href="{{ '/'|url }}">Back to home</a>.
  </footer>
</article>

