---
layout: layouts/base.njk
---

<article class="s-article--page">
  <header class="c-page__header">
    <h1>{{ title }}</h1>
  </header>
  <section class="c-page__content">
    {{ content | safe }}
  </section>
  <footer class="c-page__footer">
    <a href="{{ '/'|url }}">Back to home</a>.
  </footer>
</article>

