---
layout: layouts/base.njk
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <meta itemprop="description" content="{{ description }}" />
  <meta itemprop="name" content="{{ title }}" />
  {% if image %}<meta itemprop="image" content="{{ image  }}" />{% endif %}
  <header>
    <h1 itemprop="headline">{{ title }}</h1>
    {% if subtitle %}
      <h2>{{ subtitle }}</h2>
    {% endif %}
    {% if abstract %}
    <div class="abstract" itemprop="abstract">
      {{- abstract -}}
    </div>
    {% endif %}
    
    <div class="author">
      <span itemprop="author">{{ site.author }}</span><br/>
      <time datetime="{{ page.date|date('iso') }}" itemprop="datePublished">{{ page.date|date }}</time>
    </div>
  
  </header>
  <section itemprop="articleBody">
    {{ content | safe }}
  </section>
  <footer>
{#    Todo #}
{#    {% for tag in tags %}#}
{#      {%- if collections.tagList.indexOf(tag) != -1 -%}#}
{#      {% set tagUrl %}/tags/{{ tag }}/{% endset %}#}
{#      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>#}
{#      {%- endif -%}#}
{#    {% endfor %}#}
    
    <a href="{{ '/'|url }}">Back to home</a>.
  </footer>
</article>
