<a href="https://twitter.com/bartvanraaij"
   title="@bartvanraaij on Twitter"
   rel="noopener"
   target="_blank"
   class="c-social-icon">
  <svg role="img" class="icon" aria-hidden="true">
    <use xlink:href="/assets/images/icons.svg#twitter"></use>
  </svg>
</a>
<a href="https://www.linkedin.com/in/bartvanraaij/"
   title="bartvanraaij on LinkedIn"
   rel="noopener" target="_blank"
   class="c-social-icon">
  <svg role="img" class="icon" aria-hidden="true">
    <use xlink:href="/assets/images/icons.svg#linkedin"></use>
  </svg>
</a>
</a>
<a href="https://github.com/bartvanraaij"
   title="bartvanraaij on GitHub"
   rel="noopener" target="_blank"
   class="c-social-icon">
  <svg role="img" class="icon" aria-hidden="true">
    <use xlink:href="/assets/images/icons.svg#github"></use>
  </svg>
</a>
<a href="https://dev.to/bartvanraaij"
   title="bartvanraaij on DEV"
   rel="noopener" target="_blank"
   class="c-social-icon">
  <svg role="img" class="icon" aria-hidden="true">
    <use xlink:href="/assets/images/icons.svg#devto"></use>
  </svg>
</a>
<span class="c-social-icon js-copy-to-clipboard"
      data-copy="bartvanraaij#5233"
      data-tooltip="bartvanraaij#5233 — Click to copy"
      data-flow="left">
  <svg role="img" class="icon" aria-hidden="true">
    <use xlink:href="/assets/images/icons.svg#discord"></use>
  </svg>
</span>

{#<a href="{{ '/feed.xml'|url }}"#}
{#   title="bartvanraaij.dev atom feed"#}
{#   rel="noopener" target="_blank" class="social">#}
{#  {% include "../svg/rss.svg" %}#}
{#</a>#}
