<a href="https://twitter.com/bartvanraaij"
   title="@bartvanraaij on Twitter"
   rel="noopener"
   target="_blank"
   class="c-footer__icon">
  {% include "../svg/twitter.svg" %}
</a>
<a href="https://www.linkedin.com/in/bartvanraaij/"
   title="bartvanraaij on LinkedIn"
   rel="noopener" target="_blank"
   class="c-footer__icon">
  {% include "../svg/linkedin.svg" %}
</a>
<a href="https://github.com/bartvanraaij"
   title="bartvanraaij on GitHub"
   rel="noopener" target="_blank"
   class="c-footer__icon">
  {% include "../svg/github.svg" %}
</a>
{#<a href="{{ '/feed.xml'|url }}"#}
{#   title="bartvanraaij.dev atom feed"#}
{#   rel="noopener" target="_blank" class="social">#}
{#  {% include "../svg/rss.svg" %}#}
{#</a>#}
