---
pagination:
  data: collections.post
  size: 8
  alias: list
  reverse: true
permalink: "archive/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}.html{% else %}index.html{% endif %}"
eleventyComputed:
  title: "Posts archive - page {{ pagination.pageNumber+1 }}"
---

<h1>Posts archive</h1>
{#{% if pagination.pageNumber > 0 %}#}
{#  {% set permalink = 'page'~(pagination.pageNumber + 1)~'/index.html' %}#}
{#{% else %}#}
{#    {% set permalink = 'index.html' %}#}
{#{% endif %}#}
{#permalink: '{{ permalink }}'#}
{#eleventyComputed:#}
{#  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'#}
{#{{ (pagination.pageNumber > 0) ? 'page'~(pagination.pageNumber + 1)~'/index.html' : 'index.html' }}#}

<ul class="postlist" itemscope itemtype="http://schema.org/Blog">
  {% for post in list %}
  <li itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
    <a href="{{ post.url|url }}" title="{{ post.data.title }}">
      <meta itemprop="url" content="{{ post.url|url }}" />
      {% if post.data.image %}
      <meta itemprop="image" content="{{ ('/assets/images/posts/'~post.data.image) | url }}" />
      {% endif %}
      <time class="date" datetime="{{ post.date|date('iso') }}" itemprop="datePublished">{{ post.date|date }}</time>
      <div class="title" itemprop="headline">{{ post.data.title }}</div>
      <div class="excerpt" itemprop="abstract">{{ post.data.abstract }}</div>
    </a>
  </li>
  {% endfor %}
</ul>

<nav id="pagination">
  
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" title="Newer posts">« Newer</a>
  {% else %}
    <span>« Newer</span>
  {% endif %}
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">Older »</a>
  {% else %}
      <span>Older »</span>
  {% endif %}
</nav>


<footer>
  <a href="{{ '/'|url }}">Back to home</a>.
</footer>
