---
pagination:
  data: collections.post
  size: 8
  alias: list
  reverse: true
permalink: "archive/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}.html{% else %}index.html{% endif %}"
eleventyComputed:
  title: "Posts archive - page {{ pagination.pageNumber+1 }}"
---

<h1>{{ site.title }}</h1>
{#{% if pagination.pageNumber > 0 %}#}
{#  {% set permalink = 'page'~(pagination.pageNumber + 1)~'/index.html' %}#}
{#{% else %}#}
{#    {% set permalink = 'index.html' %}#}
{#{% endif %}#}
{#permalink: '{{ permalink }}'#}
{#eleventyComputed:#}
{#  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'#}
{#{{ (pagination.pageNumber > 0) ? 'page'~(pagination.pageNumber + 1)~'/index.html' : 'index.html' }}#}

<ul>
  {% for post in list %}
  <li>
    <a href="{{ post.url|url }}" title="{{ post.data.title }}">{{ post.data.title }}</a>
    - {{ post.data.date|date }}
  </li>
  {% endfor %}
</ul>

<div>
  
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">Newer</a>
  {% endif %}
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">Older</a>
  {% endif %}

  <a href="/">Home</a>
</div>
