---
pagination:
  data: collections.post
  size: 8
  alias: postsList
  reverse: true
permalink: "archive/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}.html{% else %}index.html{% endif %}"
eleventyComputed:
  title: "Posts archive - page {{ pagination.pageNumber+1 }}"
---

<header class="c-page__header">
  <h1>Posts archive</h1>
</header>

<section class="c-page__content">
  
  {% include "partials/postslist.njk" %}
  
  <nav class="c-pagination">
    {% if pagination.href.previous %}
      <a class="c-pagination__link c-btn"
         href="{{ pagination.href.previous }}"
         title="Newer posts">« Newer</a>
    {% else %}
      <span class="c-pagination__link c-pagination__link--disabled  c-btn">« Newer</span>
    {% endif %}
    {% if pagination.href.next %}
      <a  class="c-pagination__link"
          href="{{ pagination.href.next }}">Older »</a>
    {% else %}
        <span class="c-pagination__link c-pagination__link--disabled  c-btn">Older »</span>
    {% endif %}
  </nav>
  
</section>


<footer class="c-page__footer">
  <a href="{{ '/'|url }}" class="c-btn" title="Back to home">« Back to home</a>
</footer>
