---
permalink: index.html
---

<h1>{{ site.title }}</h1>

{% set homeBatchSize = 12 %}

{% set latestPosts = collections.post | reverse | head(homeBatchSize) %}
{% set postsCount = collections.post | length %}

<ul>
  {% for post in latestPosts %}
  <li>
    <a href="{{ post.url }}" title="{{ post.data.title }}">{{ post.data.title }}</a>
    - {{ post.data.date|date }}
  </li>
  {% endfor %}
</ul>


{% if (postsCount) > homeBatchSize %}
<div>
  <a href="/archive/">Archive</a>
</div>

{% endif %}

