

.c-post__author {
  font-size: 1.25rem;
  line-height: 1.6;
  font-variant-caps: small-caps;
  text-align: center;
}

.c-post__abstract {
  font-style: italic;
  color: var(--muted);
  width: 600px;
  max-width: 100%;
  margin: 1.5rem auto;
  text-align:center;
}


