.c-post__author {
  font-size: 1.25rem;
  line-height: 1.6;
  font-variant-caps: small-caps;
  text-align: center;
}

.c-post__abstract {
  font-style: italic;
  color: var(--muted);

  padding: 0 2rem;

  max-width: 100%;
  margin: 1.5rem auto;
  text-align:center;
}

@media screen and (max-width: 960px) {
  .c-post__abstract {
    padding: 0;
  }
}


