
.c-footer {
}

.c-footer__content {
  padding: var(--spacer) 0;
  border-top: 0.5px solid var(--border);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a:not(:last-child) {
    margin-right: .75rem;
  }
}

.c-footer__icon {
  display: inline-block;
}
