
html {
  font-size: var(--font-size);
  /*
  scroll-behavior: smooth;
  */
  width: 100%;
  height: 100%;
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: var(--bg);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


button {
  font: inherit;
}


.s-main {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.s-container {
  width: var(--grid);
  max-width: 100%;
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  margin: 0 auto;
}
.s-container--wider {
  width: var(--grid-wide);
}

.s-box {
  width: var(--grid-small);
  max-width: 100%;
}
