
.c-pagination {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-variant-caps: small-caps;
}

.c-pagination__link {
  display: inline-block;
  margin: 0 .25rem;
}
.c-pagination__link--disabled {
  color: var(--muted);
}
