
.c-postslist {
  padding: 0;
  margin: 1rem 0 0 0;
}

.c-postslist__item {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.c-postslist__itemlink {
  display: block;
  width: 100%;
  padding: .5rem 0;
  color: var(--text);
  &:hover {
    text-decoration: none;
    .c-postslist__itemtitle {
      color: var(--primary-hover);
      text-decoration: underline;
    }
  }

  &:focus {
    outline-offset: 1px;
  }

}

.c-postslist__itemdate {
  display: block;
  font-variant-caps: small-caps;
  margin-bottom: .15rem;
  text-decoration: none;
  color: var(--text);
}

.c-postslist__itemtitle {
  display: block;
  font-size: 1.25rem;
  color: var(--primary);
  line-height: 1.4;
  margin-bottom: .25rem;
  text-decoration: none;
}

.c-postslist__excerpt {
  display: block;
  font-style: italic;
  line-height: 1.4;
  color: var(--muted);
}
