@media print {
  :root {
    --text: #000;
    --grid: 100%;
    --font-size: 10pt;
    --code-font-size: 8pt;
  }

  .c-header, .c-footer {
    display: none;
  }

  body {
    background-color: transparent;
  }


  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

}
