
/* Todo move this to the components */
@media screen and (max-width: 960px) {

  .post header {
    margin-top: 0;
  }

  body {
    line-height: 1.6;
  }

  h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  h1 + h2 {
    margin-top: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  a.anchor {
    display: none !important;
  }

  ul.postlist {
    li {
      margin-bottom: .6rem;
    }
  }

}
