
.c-social-icon {
  display: inline-block;
  width: 28px;
  height: 28px;

  img, svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  svg path {
    fill: var(--text);
  }

  &:hover {
    svg path {
      fill: var(--primary);
    }
  }
}

/*
.c-social-icon--github:hover {
    svg path {
      fill: #24292e;
    }
}

.c-social-icon--linkedin:hover {
    svg path {
      fill: #0e76a8;
    }
}

.c-social-icon--twitter:hover {
    svg path {
      fill: #1DA1F2;
    }
}
*/
