:root {
  --grid: 84ch;
  --grid-wide: 960px;
  --grid-medium: 620px;
  --grid-small: 500px;
  --spacer: 15px;

  --font-size: 17px;

  --text: #2b2d2f;
  --primary: #284ea0;
  --primary-hover: #062a8b;

  --muted: #686868;

  --border: #e7e0e0;
  --bg: #fffafa;

  --anchor: var(--muted);
  --anchor-hover: #333;

  --code-font-size: 13px;
  --code-bg: white;
  --code-border: #efefef;
  --code-text: #e3116c;
  --code-text-shadow: none;

  --font: Charter, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-secondary: Seravek, 'San Francisco', Tahoma,  Verdana, Arial, sans-serif;

  --blockquote-bg: rgba(0,0,0,.03);

}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg: #141414;
    --text: #fffafa;
    --muted: #cdcbcb;

    --primary: wheat;
    --primary-hover: #f1cc84;

    --border: #626262;

    --code-text: #A8FF60;
    --code-bg: #1d1f21;
    --code-border: black;
    --code-text-shadow: 0 1px rgba(0,0,0,.3);

    --anchor-hover: #999;

    --blockquote-bg: rgba(255,255,255,.05);
    /*
    --blockquote-bg: var(--code-bg);
    */

  }
}
