/*@import '~latex.css/style.css';*/

/*@import 'latex.css';*/

html {
  font-size: 17px;
}

code {
  color: #a00;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}

/*@tailwind base;*/

/*a {*/
/*  @apply text-blue-700 underline font-bold;*/
/*}*/

/*@tailwind components;*/
/*@tailwind utilities;*/

body {
  max-width: 960px;
}

.post header {
  text-align: center;
}
