:root {
  --grid: 780px;
  --spacer: 15px;

  --text: #2b2d2f;
  --primary: #284ea0;
  --primary-hover: #062a8b;

  --muted: #686868;

  --border: #e7e0e0;
  --bg: #fffafa;

  --anchor: #777;
  --anchor-hover: #333;
  --code-bg: white;
  --code-border: #efefef;
  --code-text: #e3116c;


  --font: Charter, Georgia, Cambria, 'Times New Roman', Times, serif;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg: #141414;
    --text: #fffafa;
    --muted: #cdcbcb;

    --primary: wheat;
    --primary-hover: #f1cc84;

    --border: #848383;

    --code-text: #A8FF60;

    --code-bg: #1d1f21;
    --code-border: black;


  }
}


html {
  font-size: 17px;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font);

}

main {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.container {
  width: var(--grid);
  max-width: 100%;
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  margin: 0 auto;

}

#header {


  #author {
    font-weight: 300;
    font-size: 1.5rem;
    /*
    color: var(--primary);
    */
    margin-right: auto;

    img {
      border-radius: 100%;
      margin-right: .5rem;
      width: 48px;
      height: 48px;
    }

    /*   span {
         margin-top: 4px;
       }*/
    display: flex;
    align-items: center;
    line-height: 1.1;
  }


  #about {
    margin-top: 6px;
  }

  .inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 0;
  }

}

nav#pagination {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-variant-caps: small-caps;

  span {
    color: var(--muted);
  }

  a, span {
    display: inline-block;
    margin: 0 .25rem;
  }

}

.ac {
  font-variant-caps: small-caps;

}

body > footer {
  .inner {
    padding: 1rem 0;
    border-top: 0.5px solid var(--border);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a:not(:last-child) {
      margin-right: .5rem;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.6;
}

h2, h3 {
  margin-top: 2rem;
}

h2, h3, h4, h5, h6 {
  margin-bottom: .25rem;
}

h3 {
  margin-top: 2rem;
}

body {
  code[class*="language-"],
  pre[class*="language-"],
  code,
  pre,
  kbd {
    font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
    font-size: 13px;
    line-height: 1.5;
  }
}

:not(pre) > code {
  color: var(--code-text);
  background-color: var(--code-bg);
  border: .5px solid var(--code-border);
  font-size: 13px;
  border-radius: 3px;
  padding: 2.6px 5px 3.4px 5px;
}

a, a:visited {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}

a:focus {
  outline: 2px auto var(--primary);
}

p {
  text-align: left;
}

a.anchor {
  text-decoration: none;
  font-size: 20px;
  color: var(--anchor);

  &:hover {
    text-decoration: underline;
  }
}

.post header {
  text-align: center;
}

article {
  .author {
    font-size: 1.1rem;
    line-height: 1.6;
  }
}


p {
  margin-top: 0;
  margin-bottom: 1rem;
}

hr {
  border: 0;
  border-top: 0.5px solid var(--border);
  margin: 1rem 0;
}


ul {
  padding-inline-start: 1.5rem;
}

.abstract {
  font-style: italic;
  color: var(--muted);
  width: 600px;
  max-width: 100%;
  margin: 1.5rem auto;
}

.social {
  display: inline-block;

  img, svg {
    width: 24px;
    display: block
  }

  svg path {
    fill: var(--text);
  }

  &:hover {
    svg path {
      fill: var(--primary);
    }
  }
}

h2, h3, h4, h5, h6 {
  position: relative;

  a.anchor {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate3d(-100%, -50%, 0);
    line-height: 1;
    display: none;
    padding-right: .5rem;
    text-decoration: none !important;
  }

  &:hover, &:focus {
    a.anchor {
      display: block;

      &:hover, &:focus {
        color: var(--anchor-hover);
      }
    }
  }
}

ul.postlist {

  margin: 0;
  padding: 0;

  li {
    display: block;
    width: 100%;
    margin-bottom: 1rem;

    a {

      > * {
        display: block;
      }

      display: block;
      width: 100%;

      padding: .5rem 0;
      text-decoration: none;
      color: var(--text);

      .date {
        font-variant-caps: small-caps;
        color: var(--muted);
        font-size: .9rem;

      }

      .title {
        font-size: 1.1rem;
        color: var(--primary);
      }

      .excerpt {
        font-style: italic;
        font-size: .9rem;
        line-height: 1.6;
      }

      &:hover {
        .title {
          color: var(--primary-hover);
          text-decoration: underline;
        }
      }

      &:focus {
        outline-offset: 1px;
      }

    }

  }

}


@media print {
  #header, footer {
    display: none;
  }

  body {
    background-color: transparent;
  }

  :root {
    --text: #000;
    --grid: 100%;
  }


  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

}

.post header {
  margin-bottom: 2rem;
}


@media screen and (max-width: 960px) {

  .post header {
    margin-top: 0;
  }

  body {
    line-height: 1.6;
  }

  h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  h1 + h2 {
    margin-top: 1rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    margin-top: 2rem;
  }

  a.anchor {
    display: none !important;
  }

  ul.postlist {
    li {
      margin-bottom: .6rem;
    }
  }

}
