<li class="c-postslist__item" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="c-postslist__itemlink" href="{{ post.url|url }}" title="{{ post.data.title }}">
    <meta itemprop="url" content="{{ post.url|url }}" />
    {% if post.data.image %}
    <meta itemprop="image" content="{{ ('/assets/images/posts/'~post.data.image) | url }}" />
    {% endif %}
    <time class="c-postslist__itemdate" datetime="{{ post.date|date('iso') }}" itemprop="datePublished">{{ post.date|date }}</time>
    <div class="c-postslist__itemtitle" itemprop="headline">{{ post.data.title }}</div>
    {% if post.data.abstract %}
    <div class="c-postslist__excerpt" itemprop="abstract">{{ post.data.abstract|nl2br|safe}}</div>
    {% endif %}
  </a>
</li>
